section.main-section#projects
  .projects__text
    h2 Projects i've worked on
    p These are some of the projects I ahve worked on in the past.

  -
    const projects = [
      {
        projectLink: "https://github.com/Klrfl/Sebastian",
        projectImage: "./src/assets/Sebastian.png",
        projectHeading: "Sebastian",
        projectText: "This is my first ever static site, made when I barely knew anything about CSS.",
        alt: "Screenshot of Sebastian's landing page",
      },
      {
        projectLink: "https://github.com/Klrfl/Sebastian-Sidebar",
        projectImage: "./src/assets/Sebastian Sidebar.png",
        projectHeading: "Sebastian Sidebar",
        projectText: "This is an improved version of my first static site. Looks quite similar.",
        alt: "Screenshot of Sebastian Sidebar's landing page",
      },
      {
        projectLink: "https://github.com/Klrfl/suwit-jawa",
        projectImage: "./src/assets/Suwit Jawa by Klrfl.png",
        projectHeading: "Suwit Jawa in JS",
        projectText: "Suwit Jawa game I made in JS.",
        alt: "Screenshot of my Suwit Jawa game",
      },
      {
        projectLink: "https://porto.lupy.my.id",
        projectImage: "./src/assets/X PPLG Portofolio Landing Page.png",
        projectHeading: "PPLG Portfolio landing page.",
        projectText: "I designed the grid layout of this landing page",
        alt: "PPLG Portfolio collection landing page",
      }
    ]
  .projects-slider-container
    .slide-container
      each project in projects
        //- cards
        .slide
          .project-card
            a(href=project.projectLink) 
              img(src=project.projectImage alt=project.alt)
            .project-text
              h3= project.projectHeading
              p= project.projectText
    
    .dots-container
      each project, index in projects 
        if (index == 0)
          .dot(data-slide=index + 1).active 
        else 
          .dot(data-slide=index + 1)
    
    .slide-button-container
      button.slide-button#previous <
      button.slide-button#next >
  
  div.contact-divider
    svg(data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none")
      path(d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill")